<ion-view title="{{type}}">
    <ion-content padding="true" class="has-tabs">
        <div class="icons">
            <div class="it" ng-repeat="type in types">
                <a href="#/index/list/{{type}}" class="list">
                    <div class="item item-image">
                        <img ng-src="img/7CAB4F51-019C-4BC5-95B8-4081109BFEFD.png" />
                    </div>
                    <i>图标left</i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
