/* Empty. Add your own CSS if you like */
.logo{
    text-align: center;
}
.logo img{
    width: 142px;
    height: auto;
    margin: 0 auto;
}
.icons a{
    display: block;
    color: #696969;
    text-decoration: none;
}
.icons{
    overflow: hidden;
}
.icons img{
    max-width: 100%;
    height: auto;
}
.icons .list{
    text-align: center;
}
.icons .list i{
    line-height: 2;
}
.icons .col{
    padding: 5px 15px;
}
.icons .it{
    float: left;
    display: block;
    width: 50%;
    padding: 5px 15px;
}   